body {
  font-family: "PT Serif", serif;
  color: #222;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

@media only screen and (max-width: 1260px) {
  .container {
    margin: 0 2%;
  }
}

.container a {
  text-decoration: none;
  color: #B0912E;
}

.container a:hover {
  text-decoration: none;
  color: #FFD242;
}

nav .container {
  padding: 10px 0;
  text-align: right;
}

nav a {
  font-size: 1.2em;
}

nav .navbar-item {
  margin-left: 1.5%;
}

.article-title {
  float: left;
  display: block;
}

.article-subtitle {
  float: right;
  display: block;
  font-style: italic;
  color: #555;
  padding-top: 2.5%;
  font-size: 0.9em;
}

.article-body {
  clear: both;
}